body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#reset {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
}

#grid-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    flex-wrap: wrap;
    min-width: 480px;
 }